<h1 class="titles">Find your Dev Job</h1>

<form action="/search" method="GET">
<label for="input-search"></label>
<input type="text" id="input-search" name="search" placeholder="Javascript, React, Rails... " />
</form>

{{#each job}}

<h1>{{title}}</h1>
<span>{{skill}}</span></br>
<span>To completed in: {{time}} days</span></br>
<span>Project budget: €{{budget}}</span></br>
<span>{{category}}</span></br>
<span>Posted by: {{creator.firstname}} {{creator.lastname}}</span></br>
<span>{{status}}</span></br>
<span>{{creationDate}}</span></br>
<span>{{pdateDate}}</span></br>
<a href="/job/{{_id}}" target="_blank" class="btn btn-primary rounded">Check this job</a>
</br>

{{/each}}
