<h1 class="titles">Find your Dev Job</h1>

<form action="/search" method="GET">
<label for="input-search"></label>
<input type="text" id="input-search" name="search" placeholder="Javascript, React, Rails... " class="shadow p-3 mb-5 bg-white rounded border" style="line-height: 40px;" />

  <input type="checkbox" id="input-checkbox-javascript" value="javascript" name="skill" />
<label for="input-checkbox-javascript">JavaScript</label>

        <input type="checkbox" id="input-checkbox-css" value="css" name="skill" />
    <label for="input-checkbox-css">Css</label>

        <input type="checkbox" id="input-checkbox-html" value="html" name="skill" />
    <label for="input-checkbox-html">Html</label>

        <input type="checkbox" id="input-checkbox-mongodb" value="mongodb" name="skill" />
    <label for="input-checkbox-mongodb">Mongodb</label>

        <input type="checkbox" id="input-checkbox-canvas" value="canvas" name="skill" />
    <label for="input-checkbox-canvas">Canvas</label>

        <input type="checkbox" id="input-checkbox-react" value="react" name="skill" />
    <label for="input-checkbox-react">React</label>

        <input type="checkbox" id="input-checkbox-vue" value="vue" name="skill" />
      <label for="input-checkbox-vue">Vue</label>
</form>


{{#each job}}
<div class="card carta shadow p-3 mb-5 bg-white rounded" style="width: 100%;">

<div  class="card-body">
    <h1>{{title}}</h1>
    <span>&#129504 {{skill}}</span></br>
    <span>&#9203 {{time}} days</span></br>
    <span>&#128182 €{{budget}}</span></br>
    <span>&#128187 {{category}}</span></br>
    <span>&#128100 {{creator.firstname}} {{creator.lastname}}</span></br>
    <span>&#128678 {{status}}</span></br>
    <span>{{creationDate}}</span></br>
    <span>{{pdateDate}}</span></br>
    <a href="/job/{{_id}}" target="_blank" class="btn btn-primary rounded">Check this job</a>
    <div class="job-border"></div>

 </div>
</div>
   
{{/each}}
