<h1>{{user.firstname}}'s Profile</h1>
<p>This page should only be accessible to authenticated users.</p>
<span><strong>Name</strong>: {{user.firstname}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<img src="{{user.image}}" alt="{{title}}"><div>
    