<h1 class="titles">{{user.firstname}}'s Profile</h1>

<div class="titles">
<img src="{{user.image}}" alt="{{title}}" class="profile-picture"><div>
<span>&#128100 {{user.firstname}} {{user.lastname}}</span>
<br />
<span>&#128231 {{user.email}}</span>
</div>


    