<h1 class="titles">{{user.firstname}}'s Profile</h1>
<img src="{{user.image}}" alt="{{title}}" class="profile-picture"><div>
<span><strong>Name</strong>: {{user.firstname}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
    