<!--{{#ifCond v1 v2}}
    {{v1}} is equal to {{v2}}
{{else}}
    {{v1}} is not equal to {{v2}}
{{/ifCond}}-->

{{!-- <h2>user._id: {{user._id}}</h2>
<h2>session.userId: {{session.userId}}</h2>
<h2>job.creator._id: {{job.creator._id}}</h2>
 --}}

<div class="card carta shadow p-3 mb-5 bg-white rounded" style="width: 100%;">
<div  class="card-body">

<h1 style="margin-left: 33px;" class="title-margin">{{job.title}}</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <h5>&#129504 {{job.skill}}</h5><br>
      <h5>&#128187 {{job.category}}</h5></br>
      <h5>&#128678 {{job.status}}</h5></br>
      <h4 style="margin-top: 40px;">&#128221 Job Description</h4><br>
      <span>{{job.description}}</span></br>
    </div>

 

     <div class="col">
        <h5>&#128182 €{{job.budget}}</h5></br>
        <h5>&#9203 {{job.time}} days</h5></br>
        <h5>&#128100 {{job.creator.firstname}} {{job.creator.lastname}}</h5></br>
        <h4 style="margin-top: 40px;">&#128248 Image</h4><br>

          {{#if job.image}}
      <img class="shadow-lg p-3 mb-5 bg-body rounded" src="{{job.image}}" alt="{{job.title}}">
    {{/if}}
    </div>
    </div>

    </div>
  </div>
</div>

{{!-- 
<section id="card-job">
  <main style="background-color:aliceblue; padding:2rem;margin-bottom:2rem ">
<h1>{{job.title}}</h1>
  
<h5>Job category: {{job.category}}</h5>


<h3>Skills needed: </h3>
<ul class="skill_list">
  {{#each job.skill}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<h3>To complete in: {{job.time}} days</h3>
<h3>Project budget: €{{job.budget}}</h3>
{{#if job.image}}
  <img style= "width:300px" src="{{job.image}}" alt="{{job.title}}">
{{/if}}

<h3>Status: {{job.status}}</h3>

<h3>Job description: {{job.description}}</h3>

</main>
</section> --}}



{{!-- <section id="card-publisher">
  <main style="background-color:rgb(241, 255, 240); padding:2rem; margin-bottom:2rem">
<h1>Publisher: {{job.creator.firstname}}'s</h1>
<img src="{{job.creator.image}}" alt="{{title}}" class="profile-picture"><div>
<span><strong>Name</strong>: {{job.creator.firstname}}</span>
<br />
<span><strong>Email</strong>: {{job.creator.email}}</span>
<br />
<span><strong>Title: {{job.title}}</span>
<br />
<span><strong>Status: {{job.status}}</span>
<br />
<span><strong>Interested User: {{job.interested_user}}</span>
<br />
<span><strong>Accepterd Provider: {{job.accepted_provider}}</span>
<br />
<span><strong>Creator: {{job.creator}}</span>
</main>
</section> --}}


{{#if user}}
<!-- user is auhtenticated -->

{{#ifCond sessionUserStr creatorStr}}
<!-- creator view -->


<a href="/job/{{job._id}}/update" class="btn btn-primary rounded fullwidth">Update job</a>
</br>
<a href="/job/{{job._id}}/delete" class="btn btn-danger rounded fullwidth">Delete job</a>

<br/>
<br/>

{{#if job.accepted_provider}}
<h3>Accepted provider:</h3>

<div class="shadow-lg p-3 mb-5 bg-body rounded">

<img class="p-3 mb-5 bg-body rounded" style="width:200px" src="{{job.accepted_provider.image}}" alt="{{job.accepted_provider.firstname}}">
<h5>Name: {{job.accepted_provider.firstname}} {{job.accepted_provider.lastname}}</h5>
<h5>Location: {{job.accepted_provider.location}}</h5>
<h5>Language: {{job.accepted_provider.language}}</h5>
<br>
</div>

{{/if}}

<h3>List of interested users for this job</h3>
{{#each application }} 

<div class="shadow-lg p-3 mb-5 bg-body rounded">

<img class="p-3 mb-5 bg-body rounded" style="width:200px" src="{{interested_user.image}}" alt="{{interested_user.firstname}}">
<h5>Name: {{interested_user.firstname}} {{interested_user.lastname}}</h5>
<h5>Location: {{interested_user.location}}</h5>
<h5>Language: {{interested_user.language}}</h5>
<br>
  <form method="POST" action="/job/{{job._id}}/assign/{{interested_user._id}}">
    <button>Assign job to {{interested_user.firstname}} </button>
    <input type="text" id="input-assignedUser" name="assignedUser" value="{{interested_user._id}}" />  

  </form>
</div>
{{/each}}



{{else}}
<!-- visitor view -->

 {{#if userIsInterested }}
    <!--<h1> {{sessionUserId}} interest is true</h1>-->
    
    <button class="btn btn-danger rounded btn-block">You have already applied</button>
    
{{else}}
    <!--<h1> {{sessionUserId}} interest is false</h1>-->
    <form method="POST" action="">
      
    <button class="btn btn-primary rounded fullwidth">I'm interested</button>
    <input type="text" id="input-title" name="job" value="{{job._id}}" class="id-disappear" required />  

  </form>
{{/if}}

{{/ifCond}}

{{/if}}


