<h1>{{job.title}}</h1>
<h4>Job category: {{job.category}}</h4>
<small>
{{#each job.skill}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
</small>
<br>
<small>To complete in: {{job.time}} days</small>
</br>
 <form method="POST" action="">
    <button>I´M INTERESTED</button>
    <input type="text" id="input-title" name="job" value="{{job._id}}" required />  

  </form>
{{#if job.image}}
  <img src="{{job.image}}" alt="{{job.title}}">
{{/if}}
</br>
<a href="/job/{{job._id}}/delete">Delete job</a>
</br>
<a href="/job/{{job._id}}/update">Update job</a>
{{#each application }} 
<small>{{interested_user.firstname}} </small>
{{/each}}