<!--{{#ifCond v1 v2}}
    {{v1}} is equal to {{v2}}
{{else}}
    {{v1}} is not equal to {{v2}}
{{/ifCond}}-->


<h1>{{job.title}}</h1>

<small>Job category: {{job.category}}</small>
<br>
<small>Skills needed: 
<ul class="skill_list">
  {{#each job.skill}}
  <li>{{this}}</li>
  {{/each}}
</ul>
</small>
<br>
<small>To complete in: {{job.time}} days</small>
<br>
<small>Project budget: €{{job.budget}}</small>
</br>


<h1>{{job.creator.firstname}}'s Profile</h1>
<img src="{{job.creator.image}}" alt="{{title}}" class="profile-picture"><div>
<span><strong>Name</strong>: {{job.creator.firstname}}</span>
<br />
<span><strong>Email</strong>: {{job.creator.email}}</span>

<h4>Title: {{job.title}}</h4>
<h4>Status: {{job.status}}</h4>
<h4>Creator: {{job.creator}}</h4>
<h4>Interested User: {{job.interested_user}}</h4>
<h4>Accepterd Provider: {{job.accepted_provider}}</h4>

{{#ifCond sessionUserId job.creator}}
<!-- job creator view -->
<p>sessionUserId and jpob.creator are the same</p>


{{else}}
<!-- not creator view -->

<p>sessionUserId and job.creator are NOT the same</p>
{{/ifCond}}


{{#if job.image}}
  <img src="{{job.image}}" alt="{{job.title}}">
{{/if}}
</br>
<small>Status: this project is {{job.status}}</small>
<br>

<!-- job creator view -->
<h1 style="color:green"> job creator view</h1>

<a href="/job/{{job._id}}/delete">Delete job</a>
</br>
<a href="/job/{{job._id}}/update">Update job</a>

<br/>
<br/>

{{#each application }} 
<p>{{interested_user.firstname}} <small>{{interested_user._id}} </small></p>
  <form method="POST" action="/job/{{job._id}}/assign/{{interested_user._id}}">
    <button>Assign job to {{interested_user.firstname}} </button>
    <input type="text" id="input-assignedUser" name="assignedUser" value="{{interested_user._id}}" />  

  </form>
{{/each}}

<!-- visitor view -->
<h1 style="color:blue"> visitor view</h1>

<h1>{{user.firstname}}'s Profile</h1>
<img src="{{user.image}}" alt="{{title}}" class="profile-picture"><div>
<span><strong>Name</strong>: {{user.firstname}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>

<h4>userId: {{sessionUser.userId}}</h4>
<h4>firstname: {{sessionUser.firstname}}</h4>
<h4>lastname: {{sessionUser.lastname}}</h4>
<h4>email: {{sessionUser.email}}</h4>
<h4>userType: {{sessionUser.userType}}</h4>
<h4>{{user.firstname}}</h4>
<h4>sessionUserId => {{sessionUserId}}</h4>
<br/>

{{#if userIsInterested }}
    <!--<h1> {{sessionUserId}} interest is true</h1>-->
    
    <button>YOU HAVE ALREADY APPLIED</button>
    
{{else}}
    <!--<h1> {{sessionUserId}} interest is false</h1>-->
    <form method="POST" action="">
    <button>I´M INTERESTED</button>
    <input type="text" id="input-title" name="job" value="{{job._id}}" required />  

  </form>
{{/if}}