<h1>{{job.title}}</h1>
<small>Job category: {{job.category}}</small>
<br>
<small>Skills needed: {{job.skill}}</small>
<br>
<small>To complete in: {{job.time}} days</small>
<br>
<small>Project budget: €{{job.budget}}</small>
</br>
<h2>sessionUserId => {{sessionUserId}}</h2>
<br/>
<h2 style="color:tomato">{{userIsInterested.interest}}</h2>
<p>But Application element.interested_user._id is {{application.interested_user._id}} </p>
<p>And sessionUserId is {{sessionUserId}} </p>
<br/>
{{#if userIsInterested }}
    <!--<h1> {{sessionUserId}} interest is true</h1>-->
    
    <button>YOU HAVE ALREADY APPLIED</button>
    
{{else}}
    <!--<h1> {{sessionUserId}} interest is false</h1>-->
    <form method="POST" action="">
    <button>I´M INTERESTED</button>
    <input type="text" id="input-title" name="job" value="{{job._id}}" required />  

  </form>
{{/if}}

{{#if job.image}}
  <img src="{{job.image}}" alt="{{job.title}}">
{{/if}}
</br>
<small>Status: this project is {{job.status}}</small>
<br>
<a href="/job/{{job._id}}/delete">Delete job</a>
</br>
<a href="/job/{{job._id}}/update">Update job</a>


<br/>
<br/>
{{#each application }} 
<p>{{interested_user.firstname}} <small>{{interested_user._id}} </small></p>
  <form method="POST" action="/job/{{job._id}}/assign/{{interested_user._id}}">
    <button>Assign job to {{interested_user.firstname}} </button>
    <input type="text" id="input-assignedUser" name="assignedUser" value="{{interested_user._id}}" />  

  </form>
{{/each}}

