<h1>{{job.title}}</h1>
<small>Job category: {{job.category}}</small>
<br>
<small> Skills needed: {{job.skill}}</small>
<br>
<small>To complete in: {{job.time}} days</small>
<br>
<small>Project budget: €{{job.budget}}</small>
</br>
 <form method="POST" action="">
    <button>I´M INTERESTED</button>
    <input type="text" id="input-title" name="job" value="{{job._id}}" required />  

  </form>
{{#if job.image}}
  <img src="{{job.image}}" alt="{{job.title}}">
{{/if}}
</br>
<small>Status: this project is {{job.status}}</small>
<br>
<a href="/job/{{job._id}}/delete">Delete job</a>
</br>
<a href="/job/{{job._id}}/update">Update job</a>
{{#each application }} 
<small>{{interested_user.firstname}} </small>
{{/each}}